<div style="min-height: calc(100vh - 75px);">
	<app-course-topbar (changeCourse)="changeCourse($event)"></app-course-topbar>
	<section id="simple-table">
		<div class="row">
			<div class="col-sm-12">
				<div class="card card-border-shadow-0">
					<div class="card-header m-top-bottom-10">
						<h4 class="card-title module-title">{{ title }}</h4>
						<!--[addRedirect]="'/section/add'"-->
						<app-actionbtns [showAdd]="showAdd" [addRedirect]="'/course-user-role/add'" [showExport]="showExport" [uploadFields]="uploadFields"
							(uploadFile)="upload($event)" (uploaded)="fileChange($event)" (download)="export()">
						</app-actionbtns>
					</div>

					<swal
						#deleteSwal
						title="Are you sure ?"
						text="This cannot be undone"
						icon="question"
						[showCancelButton]="true"
						[focusCancel]="true">
					</swal>

					<div class="card-body">
						<div class="card-block">
							<div *ngIf="records" style="float:right;"><b class="tot-record">Total Records : {{ records.meta?.pagination?.total }}</b></div>
							<form name="searchForm" #searchForm="ngForm" class="table-responsive">
								<ng-container *ngIf="sectionData; else loading">
									<table class="table table-bordered table-condensed table-striped">
										<thead>
											<tr>
												<!-- <th class="text-center"><input type="checkbox" (change)="checkAll($event)"></th>
												<th>Action</th> -->
												<th>Sr. No</th>
												<th>Course Name</th>
												<th>Group Name</th>
												<th>Name</th>
												<th>Username</th>
												<th>Designation</th>
												<th>Permission</th>
											</tr>
										</thead>
										<tbody>
											<!-- <tr>
												<td></td>
												<td></td>
												<td></td>
												<td>
													<input type="text" name="course_name" ngModel class="form-control"
														placeholder="Course Name" autocomplete="off" />
												</td>
												<td>
													<input type="text" name="username" ngModel class="form-control"
														placeholder="Username" autocomplete="off" />
												</td>
												<td>
													<input type="text" name="permission" ngModel class="form-control"
														placeholder="Permission" autocomplete="off" />
												</td>
											  </tr> -->
											<ng-container *ngIf="records; else loading">
												<tr *ngIf="!records.data.length">
													<td [attr.colSpan]="9">No Records Found!</td>
												</tr>
												<tr *ngFor="let row of records.data; let i = index">
													<!-- <td class="text-center"><input type="checkbox" [checked]="row.selected" data-md-icheck  id="{{row.id}}" name="deletecheck" value="{{row.id}}" (click)="selectID(row.id,$event)"></td> -->
													<!-- <td>
														<a *ngIf="showEdit" class="ng2-smart-action ng2-smart-action-edit-edit"
															[routerLink]="['/section/edit/' + row.id]" [queryParams]="{campaign_id: campaign_id,course_id:course_id}">
															<i class="ft-edit-2 info font-medium-1 mr-2"></i>
														</a>
														<a [swal]="deleteSwal" (confirm)="delete(row.id)" *ngIf="showDelete" class="ng2-smart-action ng2-smart-action-delete-delete">
															<i class="ft-x danger font-medium-1 mr-2"></i>
														</a>
													</td> -->
													<td>
														{{ (records.meta.pagination.current_page - 1) * records.meta.pagination.per_page + i + 1 }}
													</td>
													<td>
														{{ row.course_name }}
													</td>
													<td>
														{{ row.group_name }}
													</td>
													<td>
														{{ row.user_name }}
													</td>
													<td>
														{{ row.username }}
													</td>
													<td>
														{{ row.designation_name }}
													</td>
													<td>
														{{ row.role_name }}
													</td>
													
												</tr>
											</ng-container>
										</tbody>
										<br><br>
										<div *ngIf="SelectedIDs.length && showMultiDelete">
											<button [swal]="deleteSwal" class="btn btn-danger" style="color:#fff !important;" (confirm)="deleteSelected()">Delete</button>
										</div>
										<div *ngIf="!SelectedIDs.length && showMultiDelete">
											<button class="btn btn-danger" style="color:#fff !important;" (click)="invalidSelection()">Delete</button>
										</div>
										<br>
									</table>
								</ng-container>
							</form>
							<div *ngIf="records">
								<ngb-pagination (pageChange)="pageChange($event)" [maxSize]="3" [rotate]="true"
									[collectionSize]="records.meta.pagination.total"
									[pageSize]="records.meta.pagination.per_page"
									[(page)]="records.meta.pagination.current_page"></ngb-pagination>
							</div>
						</div>
						<ng-template #loading>Loading Data...</ng-template>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>