<div style="min-height: calc(100vh - 75px);">
  <app-topbar (changeCampaign)="changeCampaign($event)"></app-topbar>
  <section id="simple-table">
  <div class="row">
    <div class="col-sm-12">
      <div class="card card-border-shadow-0">
        <div class="card-header m-top-bottom-10">
          <h4 class="card-title module-title">Group</h4>
          <app-actionbtns [addRedirect]="'/group/add'" [showExport]="showExport"
            (download)="export()" [uploadFields]="uploadFields"
            (uploadFile)="upload($event)" (uploaded)="fileChange($event)">
          </app-actionbtns>
        </div>

        <swal
					#deleteSwal
					title="Are you sure ?"
					text="This cannot be undone"
					icon="question"
					[showCancelButton]="true"
					[focusCancel]="true">
				</swal>

        <div class="card-body">
          <p *ngIf="message">{{ message.text }}</p>
          <div class="card-block">
            <div *ngIf="groupData" style="float:right;"><b class="tot-record">Total Records : {{ groupData.meta?.pagination?.total }}</b></div>
            <div class="table-responsive">
              <form name="searchForm" #searchForm="ngForm" class="table-responsive">
                <table class="table table-bordered table-condensed table-striped">
                  <thead>
                    <tr>
                      <th>Action</th>
                      <th>Sr. No</th>
                      <th>Group Name</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td></td>
                      <td></td>
                      <td><input type="text" class="form-control" name="name" (keyup)="search()" placeholder="Search By Group"
                          [(ngModel)]="group_name"></td>
                    </tr>
                    <ng-container *ngIf="(groupData) as result; else loading">
                      <tr *ngIf="!result.data.length">
                        <td [attr.colSpan]="4">No Records Found!</td>
                      </tr>
                      <tr *ngFor="let row of result.data; let i=index">
                        <td>
                          <a class="ng2-smart-action ng2-smart-action-edit-edit" [routerLink]="['/group/edit/' + row.id]" [queryParams]="{campaign_id: campaign_id}">
                            <i class="ft-edit-2 info font-medium-1 mr-2"></i>
                          </a>
                          <a [swal]="deleteSwal" (confirm)="delete(row.id)" *ngIf="showDelete" class="ng2-smart-action ng2-smart-action-delete-delete">
                            <i class="ft-x danger font-medium-1 mr-2"></i>
                          </a>
                        </td>
                        <th scope="row">{{ ((result.meta.pagination.current_page - 1) *
                          result.meta.pagination.per_page) + i + 1 }}</th>
                        <td>{{ row.name }}</td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </form>
            </div>
            <div *ngIf="(groupData) as result">
              <ngb-pagination (pageChange)="pageChange($event)" [maxSize]="3" [rotate]="true"
                [collectionSize]="result.meta.pagination.total" [pageSize]="result.meta.pagination.per_page"
                [(page)]="result.meta.pagination.current_page"></ngb-pagination>
            </div>
          </div>
          <ng-template #loading>Loading Data...</ng-template>
        </div>
      </div>
    </div>
  </div>
  </section>
</div>