<div style="min-height: calc(100vh - 75px);">
	<section id="basic-form-layouts">
		<div class="row match-height">

			<ng-container *ngIf="buildForm; else norecord">
				<form class="form col-12 clearfix" [formGroup]="prospectForm" (submit)="onSubmit()" enctype="multipart/form-data">
					<div class="form-body">
						<h4 class="form-section">
							<i class="ft-user"></i>
							{{ title }}
						</h4>
				
						<div class="row">
							<div class="col-md-6 col-sm-12 float-left padding-1">
								<div class="card">
									<div class="card-body">
										<div class="px-3">
											<div class="form-body">
												<h4 class="form-section">
												<i class="ft-clipboard"></i>
												Basic Details
												</h4>

												<div class="row">
													<div class="form-group col-12 mb-2">
														<label for="first_name">
														First Name
														<span style="color:red">*</span>
														</label>
														
														<input type="text" formControlName="first_name" maxlength="20"
															class="form-control" id="first_name" autocomplete="off" />
														<div *ngIf="prospectForm.get('first_name').errors && submitted"
															class="invalid-feedback">
															<div *ngIf="prospectForm.get('first_name').errors.required">
																First Name is required!
															</div>
															<div *ngIf="prospectForm.get('first_name').errors.minlength">
																Please Enter atleast 3 Characters!
															</div>
															<div *ngIf="prospectForm.get('first_name').errors.pattern">
																Please Enter a Valid First Name!
															</div>
															<div *ngIf="prospectForm.get('first_name').errors.maxlength">
																First Name too long!
															</div>
														</div>
														<div *ngIf="error_messages.first_name" class="invalid-feedback">
															{{ error_messages.first_name }}
														</div>
													</div>
												</div>

												<div class="row">
													<div class="form-group col-12 mb-2">
														<label for="last_name">
														Last Name
														<span style="color:red">*</span>
														</label>
														
														<input type="text" formControlName="last_name" maxlength="20"
															class="form-control" id="last_name" autocomplete="off" />
														<div *ngIf="prospectForm.get('last_name').errors && submitted"
															class="invalid-feedback">
															<div *ngIf="prospectForm.get('last_name').errors.required">
																Last Name is required!
															</div>
															<div *ngIf="prospectForm.get('last_name').errors.pattern">
																Please Enter a Valid Last Name!
															</div>
															<div *ngIf="prospectForm.get('last_name').errors.minlength">
																Please Enter atleast 3 Characters!
															</div>
															<div *ngIf="prospectForm.get('last_name').errors.maxlength">
																Last Name too long!
															</div>
														</div>
														<div *ngIf="error_messages.last_name" class="invalid-feedback">
															{{ error_messages.last_name }}
														</div>
													</div>
												</div>

												<div class="row">
													<div class="form-group col-12 mb-2">
														<label for="last_name">
															Email
														</label>
														
														<input type="text" formControlName="email" email class="form-control"
															id="email" autocomplete="off" />
														<div *ngIf="prospectForm.get('email').errors && submitted"
															class="invalid-feedback">
															<div *ngIf="prospectForm.get('email').errors.required">
																Company Email is required!
															</div>
															<div *ngIf="prospectForm.get('email').errors.email">
																Email must be a valid email address!
															</div>
															<div *ngIf="prospectForm.get('email').errors.uniqueEmail">
																Email is already taken!
															</div>
														</div>
														<div *ngIf="error_messages.email" class="invalid-feedback">
															{{ error_messages.email }}
														</div>
													</div>
												</div>

												<div class="row">
													<div class="form-group col-12 mb-2">
														<label for="mobile">
															Mobile
														</label>
														
														<input type="text" formControlName="mobile" maxlength="10"
															class="form-control" id="mobile" autocomplete="off" />
														<div *ngIf="prospectForm.get('mobile').errors && submitted"
															class="invalid-feedback">
															<div *ngIf="prospectForm.get('mobile').errors.required">
																Mobile Number is required!
															</div>
															<div *ngIf="prospectForm.get('mobile').errors.pattern">
																Mobile Number can have 10 digits only, starting with 6 | 7 | 8 | 9
															</div>
														</div>
														<div *ngIf="error_messages.mobile" class="invalid-feedback">
															{{ error_messages.mobile }}
														</div>
													</div>
												</div>

												<div class="row">
													<div class="form-group col-12 mb-2">
														<label for="dob">
															Date of Birth
														</label>
														<div class="input-group">
															<input class="form-control" placeholder="dd-mm-yyyy" [minDate]="minDate"
																[maxDate]="maxDate" formControlName="dob" ngbDatepicker
																#dob="ngbDatepicker">
															<div class="input-group-addon" (click)="dob.toggle()">
																<i class="fa fa-calendar" style="cursor: pointer;"></i>
															</div>
															<div *ngIf="prospectForm.get('dob').errors && submitted" class="invalid-feedback">
																<div *ngIf="prospectForm.get('dob').errors.required">
																	Date of Birth is required!
																</div>
																<div *ngIf="prospectForm.get('dob').errors.dateVaidator">
																	Invalid Date!
																</div>
															</div>
															<div *ngIf="error_messages.dob" class="invalid-feedback">
																{{ error_messages.dob }}
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-6 col-sm-12 float-left padding-1">
								<div class="card">
									<div class="card-body">
										<div class="px-3">
											<div class="form-body">
												<h4 class="form-section">
													<i class="ft-settings"></i>
													Settings
												</h4>

												<div class="row">
													<div class="form-group col-12 mb-2">
														<label for="company">
															Company
															<span style="color:red">*</span>
														</label>
														
														<ng-container *ngIf="(companyData | async) as resultData">
															<ng-multiselect-dropdown formControlName="company_id" [disabled]="isDropdownDisabled"
																	[placeholder]=" 'Select Company'" [settings]="dropdownSettingsSingle" [data]="resultData.data">
															</ng-multiselect-dropdown>
														</ng-container>
														<div *ngIf="submitted && prospectForm.get('company_id').errors" class="invalid-feedback">
															<div *ngIf="prospectForm.get('company_id').errors.required">Company Name is required!</div>
														</div>
														<div *ngIf="error_messages.company_id" class="invalid-feedback">
															{{ error_messages.company_id }}
														</div>
													</div>
												</div>

												<div class="row">
													<div class="form-group col-12 mb-2">
														<label for="username">
															Username
															<span style="color:red">*</span>
														</label>
														<div class="input-group">
															<input type="text" formControlName="username" maxlength="50"
																class="form-control" id="user_name" autocomplete="off"/>
															<span class="input-group-btn">
															</span>
															<div
																*ngIf="prospectForm.get('username').errors && submitted"
																class="invalid-feedback">
																<div *ngIf="prospectForm.get('username').errors.required">
																	Username is required!
																</div>
																<div *ngIf="prospectForm.get('username').errors.minlength">
																	Username must be atleast 6 characters!
																</div>
																<div *ngIf="prospectForm.get('username').errors.pattern">
																	Please Enter a Valid Username!
																</div>
																<div *ngIf="prospectForm.get('username').errors.maxlength">
																	Username must be less than 50 characters!
																</div>
																<div *ngIf="prospectForm.get('username').errors.uniqueUsername">
																	Login ID is already taken!
																</div>
															</div>
															<div *ngIf="error_messages.username" class="invalid-feedback">
																{{ error_messages.username }}
															</div>
														</div>
													</div>
												</div>

												<div *ngIf="urlKey === 'add'">
													<div class="row">
														<div class="form-group col-12 mb-2">
															<label for="password">
																Password
																<span style="color:red">*</span>
															</label>
															
															<input type="password" formControlName="password" maxlength="25"
																class="form-control" id="password" autocomplete="off" />
															<div *ngIf="prospectForm.get('password').errors && submitted"
																class="invalid-feedback">
																<div *ngIf="prospectForm.get('password').errors.required">
																	Password is required!
																</div>
																<div *ngIf="prospectForm.get('password').errors.minlength">
																	Password should be atleast 4 characters!
																</div>
																<div *ngIf="prospectForm.get('password').errors.maxlength">
																	Password can have maximum 25 characters!
																</div>
															</div>
															<div *ngIf="error_messages.password" class="invalid-feedback">
																{{ error_messages.password }}
															</div>
														</div>
													</div>
												</div>

												<div class="row">
													<div class="form-group col-12 mb-2">
														<label for="role">
															Role
															<span style="color:red">*</span>
														</label>
														
														<ng-container *ngIf="(roleData | async) as roles">
															<ng-multiselect-dropdown formControlName="role"
																[placeholder]="'Select Role'" [settings]="dropdownSettingsSingle"
																[data]="roles.data">
															</ng-multiselect-dropdown>
														</ng-container>
														<div *ngIf="prospectForm.get('role').errors && submitted"
															class="invalid-feedback">
															<div *ngIf="prospectForm.get('role').errors.required">
																Role is required!
															</div>
														</div>
														<div *ngIf="error_messages.role" class="invalid-feedback">
															{{ error_messages.role }}
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="form-actions center">
							<div class="row">
								<div class="col-md-12">
									<a [routerLink]="['/prospect']" class="btn btn-raised btn-orange mr-1">
										<i class="ft-x"></i>
										Cancel
									</a>
									<button type="submit" class="btn btn-raised btn-purple">
										<i class="fa fa-check-square-o"></i>
										Save
									</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</ng-container>

			<ng-template #norecord>
				<p>Loading Data...</p>
			</ng-template>
		</div>
	</section>
</div>