<section id="simple-table">
	<div class="row">
		<div class="col-sm-12">
			<div class="card card-border-shadow-0">
				<div class="card-header m-top-bottom-10">
					<h4 class="card-title module-title">{{ title }}</h4>
					<app-actionbtns [uploadFields]="uploadFields"
						[addRedirect]="'/prospect/add'" [showExport]="showExport" (download)="export()" [showImport]="false">
					</app-actionbtns>
				</div>

				<swal
					#deleteSwal
					title="Are you sure ?"
					text="This cannot be undone"
					icon="question"
					[showCancelButton]="true"
					[focusCancel]="true">
				</swal>

				<div class="card-body">
					<div class="card-block">
						<div *ngIf="records" style="float:right;"><b class="tot-record">Total Records : {{ records.meta?.pagination?.total }}</b></div>
						<form name="searchForm" #searchForm="ngForm">
							<div class="table-responsive">
								<table class="table table-bordered table-condensed">
									<thead>
										<tr>
											<th>Action</th>
											<th>Sr.No</th>
											<th>Company Name</th>
											<th>First Name</th>
											<th>Last Name</th>
											<th>Mobile No.</th>
											<th>Email ID</th>
											<th>Username</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td></td>
											<td></td>
											<td></td>
											<td>
												<input type="text" name="first_name" ngModel class="form-control"
													placeholder="Name" autocomplete="off" />
											</td>
											<td>
												<input type="text" name="last_name" ngModel class="form-control"
													placeholder="Name" autocomplete="off" />
											</td>
												<td>
												<input type="text" name="mobile" ngModel class="form-control"
													placeholder="Mobile" autocomplete="off" />
											</td>
											<td>
												<input type="text" name="email" ngModel class="form-control"
													placeholder="Email" autocomplete="off" />
											</td>
											<td>
												<input type="text" name="username" ngModel class="form-control"
													placeholder="Username" autocomplete="off" />
											</td>

										</tr>
									</tbody>
									<ng-container *ngIf="records; else loading">
										<tr *ngIf="!records.data.length">
											<td [attr.colSpan]="8">No Records Found!</td>
										</tr>
										<tr *ngFor="let row of records.data; let i = index">
											<td>
												<a class="ng2-smart-action ng2-smart-action-edit-edit"
													[routerLink]="['/prospect/edit/' + row.id]">
													<i class="ft-edit-2 info font-medium-1 mr-2"></i>
												</a>
												<a [swal]="deleteSwal" (confirm)="delete(row.id)" *ngIf="showDelete" class="ng2-smart-action ng2-smart-action-delete-delete">
													<i class="ft-x danger font-medium-1 mr-2"></i>
												</a>
											</td>
											<th scope="row">
												{{ (records.meta.pagination.current_page - 1) * records.meta.pagination.per_page + i + 1 }}
											</th>
											<td>{{ row.company_name}}</td>
											<td>{{ row.first_name }} </td>
											<td>{{ row.last_name }}</td>
											<td>{{ row.mobile }}</td>
											<td>{{ row.email }}</td>
											<td>{{ row.username }}</td>
										</tr>
									</ng-container>
								</table>
							</div>
						</form>
						<div *ngIf="records">
							<ngb-pagination (pageChange)="pageChange($event)" [maxSize]="3" [rotate]="true"
								[collectionSize]="records.meta.pagination.total"
								[pageSize]="records.meta.pagination.per_page"
								[(page)]="records.meta.pagination.current_page"></ngb-pagination>
						</div>
					</div>
					<ng-template #loading>
						<tr>
							<td colspan="5">Loading Data...</td>
						</tr>
					</ng-template>
				</div>
			</div>
		</div>
	</div>
</section>