<section id="simple-table">
  <div class="row">
    <div class="col-sm-12">
      <div class="card card-border-shadow-0">
        <div class="card-header m-top-bottom-10">
          <h4 class="card-title module-title">Campaign</h4>
          <button *ngIf="showExport" style="color:#fff !important;float: right;margin-bottom: 10px !important;" class="btn btn-raised btn-purple m-2 ng-star-inserted"
            (click)="export()"><i _ngcontent-gde-c137="" class="ft-download white warning font-medium-1"
              style="color: #fff !important;"></i></button>
        </div>

        <div class="row pt-1">
          <div class="col-md-4 pt-2" *ngIf="showCompanyFilter">
              <ng-container *ngIf="(companyData | async) as resultData">
                <ng-multiselect-dropdown [(ngModel)]="company_id"
                  [placeholder]=" 'Select Company'" (onSelect)="search()" (onDeSelect)="search()" [settings]="dropdownSettingsCompany" [data]="resultData.data">
                </ng-multiselect-dropdown>
              </ng-container>
          </div>
          
          <div class="col-md-4 pt-2">
             <input type="text" (keyup)="search()" class="form-control" placeholder="Search By Name"
                        [(ngModel)]="campaign_name">
          </div>

          <div class="col-md-4 pt-2">
            <input type="text" (keyup)="search()" class="form-control" placeholder="Search By Code"
                       [(ngModel)]="campaign_code">
         </div>
        </div>
       

        <swal
					#deleteSwal
					title="Are you sure ?"
					text="This cannot be undone"
					icon="question"
					[showCancelButton]="true"
					[focusCancel]="true">
				</swal>

        <div class="card-body" class="row">
          <ng-container *ngIf="(campaignData | async) as result; else loading">
            
            <div class="col-lg-12 mt-2">
            <div class="pull-right"><b class="tot-record">Total Records : {{ result.meta?.pagination?.total }}</b></div>
          </div>

            <div *ngIf="!result.data.length">
              <div [attr.colSpan]="6">No Records Found!</div>
            </div>

            <div class="col-lg-4 col-sm-6 col-container" (click)="add()" *ngIf="showCompanyFilter">
              <div class="card col-cell-add">
                <div class="text-center p-4">
                  <div class="row">
                      <div class="col-md-7">
                          <h5 style="color: #505050;font-size: 25px;">Add Campaign</h5>
                      </div>
                      <div class="col-md-5">
                          <img src="assets/img/logos/add-button-tp-bg.png" alt="">
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="col-lg-4 col-sm-6 col-container" (click)="add()" *ngIf="showCompanyFilter">
              <div class="card col-cell border-orange">
                <div class="card-header text-center p-4">
                  <img src="assets/img/logos/add-button-tp-bg.png" alt="">
                  <h5 style="color: #F7941E;">Add Campaign</h5>
                </div>
              </div>
            </div> -->

            <!-- *******Test****** -->
            <div class="col-lg-4 col-sm-6 col-container" *ngFor="let row of result.data; let i=index">
              <div class="card col-cell" (click)="campaignDashboard(row.id)">
                <div class="row">
                  <div class="col-8" style="top:-8px;">
            
                  </div>
                  <div class="col-4">
                    <div class="text-right">
            
                      <a [swal]="deleteSwal" (confirm)="delete(row.id)" *ngIf="showDelete" class="ng2-smart-action ng2-smart-action-delete-delete">
                        <i class="ft-trash-2 danger font-medium-1 mr-2"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="row"  style="margin-bottom: 10px;">
                  <table style="border: none !important;width: 100%;">
                    <tbody>
                      <tr>
                        <td style="width: 35%;text-align: center;">
                          <img src="assets/img/campaing-vector.png" style="margin:5px;">
                        </td>
                        <td style="width: 65%;">
                          <h5 class="camp-title"> <a>{{ row.name }} </a> </h5>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="row">
                  <div class="col-md-12 text-center">
                    <span class="camp-code">Code : {{ row.cid }}</span><i class="ft-copy" (click)="copyInputMessage(row.cid)"
                      title="Copy Code"></i>
                  </div>
                </div>
              </div>
            </div>
            <!-- *******End***** -->

            <!-- <div class="col-lg-4 col-sm-6 col-container" *ngFor="let row of result.data; let i=index">
              <div class="card col-cell">
                <div class="row">
                  <div class="col-8" style="top:-8px;">
                   
                  </div>
                  <div class="col-4"><div class="text-right delete-right">
                  
                    <a [swal]="deleteSwal" (confirm)="delete(row.id)" *ngIf="showDelete" class="ng2-smart-action ng2-smart-action-delete-delete">
                      <i class="ft-trash-2 danger font-medium-1 mr-2"></i>
                    </a>
                  </div>
                  </div>
                </div>
                
                <div class="text-center"><img (click)="campaignDashboard(row.id)" src="assets/img/camp.svg" width="40px" style="margin:5px;"></div>
                <div class="card-header text-center flex-column" style="flex: auto">
                  <h5> <a (click)="campaignDashboard(row.id)">  {{ row.name }} </a> </h5>
                </div>
                <div class="col-md-12 text-center">
                  <span>Code : {{ row.cid }}</span><i class="ft-copy" (click)="copyInputMessage(row.cid)" title="Copy Code"></i>
                </div>
              </div>
            </div> -->
          </ng-container>

          <ng-template #loading>Loading Data...</ng-template>

        </div>
        <div *ngIf="campaignData | async as records">
          <ngb-pagination (pageChange)="pageChange($event)" [maxSize]="3" [rotate]="true"
            [collectionSize]="records.meta.pagination.total"
            [pageSize]="records.meta.pagination.per_page"
            [(page)]="records.meta.pagination.current_page"></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</section>