<section id="simple-table">
    <div class="row">
      <div class="col-sm-12">
        <div class="card card-border-shadow-0">
          <div class="card-header m-top-bottom-10">
            <h4 class="card-title module-title">Designation</h4>
            <!-- <app-actionbtns [addRedirect]="'/designation/add'" [showExport]="showExport" (download)="export()" [showImport]="false"></app-actionbtns> -->
            <app-actionbtns [showAdd]="showAdd" [addRedirect]="'/designation/add'" [showExport]="showExport" [uploadFields]="uploadFields"
							(uploadFile)="upload($event)" (uploaded)="fileChange($event)" (download)="export()">
						</app-actionbtns>
          </div>
  
          <swal
                      #deleteSwal
                      title="Are you sure ?"
                      text="This cannot be undone"
                      icon="question"
                      [showCancelButton]="true"
                      [focusCancel]="true">
                  </swal>
  
          <div class="card-body">
  
            <div class="card-block">
              <div *ngIf="records" style="float:right;"><b class="tot-record">Total Records : {{ records.meta?.pagination?.total }}</b></div>
              <div class="table-responsive">
                <table class="table table-bordered table-condensed">
                  <thead>
                    <tr>
                      <th class="text-center" width="8%">
                        <input type="checkbox" id="all" (change)="checkAll($event)">
                        <label for="all">&nbsp;</label>
                      </th>
                      <th>Action</th>
                      <th style="width:70px;">Sr. No</th>
                      <th>Designation Name</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><input type="text" (keyup)="search()" class="form-control" placeholder="Search By Name"
                          [(ngModel)]="designation_name"></td>
                    </tr>
  
                    <ng-container *ngIf="records; else loading">
                      <tr *ngIf="!records.data.length">
                        <td [attr.colSpan]="4">No Records Found!</td>
                      </tr>
                      <tr *ngFor="let row of records.data; let i=index">
                        <td class="text-center">
                          <input type="checkbox" [checked]="row.selected" data-md-icheck  id="{{row.id}}" name="deletecheck" value="{{row.id}}" (click)="selectID(row.id,$event)">
                          <label for="{{row.id}}">&nbsp;</label>
                        </td>
                        <td>
                          <a *ngIf="showEdit" class="ng2-smart-action ng2-smart-action-edit-edit"
                            [routerLink]="['/designation/edit/' + row.id]">
                            <i class="ft-edit-2 info font-medium-1 mr-2"></i>
                          </a>
                          <a [swal]="deleteSwal" (confirm)="delete(row.id)" *ngIf="showDelete" class="ng2-smart-action ng2-smart-action-delete-delete">
                            <i class="ft-x danger font-medium-1 mr-2"></i>
                          </a>
                        </td>
                        <th scope="row">
                          {{ ((records.meta.pagination.current_page - 1) * records.meta.pagination.per_page) + i + 1 }}
                        </th>
                        <td>{{ row.name }}</td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
               
                <div *ngIf="SelectedIDs.length && showMultiDelete">
                  <button [swal]="deleteSwal" class="btn btn-danger" style="color:#fff !important;"
                    (confirm)="deleteSelected()">Delete</button>
                </div>
                <div *ngIf="!SelectedIDs.length && showMultiDelete">
                  <button class="btn btn-danger" style="color:#fff !important;" (click)="invalidSelection()">Delete</button>
                </div>
                <br>
              </div>
              <div *ngIf="records">
                <ngb-pagination (pageChange)="pageChange($event)" [maxSize]="3" [rotate]="true"
                  [collectionSize]="records.meta.pagination.total" [pageSize]="records.meta.pagination.per_page"
                  [(page)]="records.meta.pagination.current_page"></ngb-pagination>
              </div>
            </div>
            <ng-template #loading>Loading Data...</ng-template>
          </div>
        </div>
      </div>
    </div>
  </section>