<section id="basic-form-layouts">
	<div class="row match-height">
		<div class="col-md-12">
			<div class="card">
				<div class="card-body">
					<div class="px-3">
						<ng-container *ngIf="buildForm; else norecord">
							<form class="form form-horizontal striped-rows" [formGroup]="courseUserRoleForm"
								(submit)="onSubmit()" enctype="multipart/form-data">
								<div class="form-body">

									<!-- <div *ngIf="(usersData | async) as allUsers">
										{{ allUsers | json }}
									</div> -->

									<div class="form-group">
										<div class="row">
											
												<label for="user_id" class="col-md-3">
													Users
													<span style="color:red">*</span>
												</label>

												<div class="col-md-9">
												
												<ng-container *ngIf="(usersData | async) as users" >
													<ng-multiselect-dropdown formControlName="user_id"
														[placeholder]="'Select User'" [settings]="dropdownSettingsSingle"
														[data]="users.data[0].user">
													</ng-multiselect-dropdown>
												</ng-container>
												<div *ngIf="courseUserRoleForm.get('user_id').errors && submitted"
													class="invalid-feedback">
													<div *ngIf="courseUserRoleForm.get('user_id').errors.required">
														User is required!
													</div>
												</div>
												<div *ngIf="error_messages.user_id" class="invalid-feedback">
													{{ error_messages.user_id }}
												</div>
											</div>
											
										</div>
									</div>

									<div class="form-actions center">
										<div class="col-md-3"></div>
										<div class="col-sm-9">
											<a [routerLink]="['/section']" [queryParams]="{course_id:course_id,campaign_id: campaign_id}" class="btn btn-raised btn-orange mr-1">
												<i class="ft-x"></i>
												Cancel
											</a>

											<button type="submit" class="btn btn-raised btn-purple">
												<i class="fa fa-check-square-o"></i>
												Save
											</button>
										</div>
									</div>
								</div>
							</form>
						</ng-container>

						<ng-template #norecord>
							<p>Loading Data...</p>
						</ng-template>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>