@media (min-width: 576px) and (max-width: 991px) { 
    .topbar-container{
        position: relative !important; 
        margin-top: -50px !important;
        margin-left: 130px;
        z-index: 2 !important;
        padding-left: 0px !important;
    }
}


@media (min-width: 992px) { 
    .topbar-container{
        position: relative !important;
    margin-top: -64px !important;
    z-index: 2 !important;
    padding-top: 15px !important;
}
    }


ng-multiselect-dropdown{
    font-size: 12px;
}