<section id="basic-form-layouts">
	<div class="row match-height">
		<div class="col-md-12">
			<div class="card">
				<div class="card-body">
					<div class="px-3">
						<ng-container *ngIf="buildForm; else norecord">
							<form
								class="form form-horizontal striped-rows"
								[formGroup]="rolesForm"
								(submit)="onSubmit()"
								enctype="multipart/form-data"
							>
								<div class="form-body">
									<h4 class="form-section">
										<i class="ft-user"></i>
										{{ title }}
									</h4>

									<div class="form-group">
										<div class="row">

										<label class="col-md-3 pt-1" for="name">
											Role Name
											<span style="color:red;">*</span>
										</label>
										<div class="col-md-9">
											<input
												type="text"
												formControlName="name"
												maxlength="50"
												class="form-control"
												id="name"
												autocomplete="off"
											/>
											<div *ngIf="roles.get('name').errors && submitted" class="invalid-feedback">
												<div *ngIf="roles.get('name').errors.required">
													Role Name is required!
												</div>
												<div *ngIf="roles.get('name').errors.minlength">
													Please Enter atleast 3 Characters!
												</div>
												<div *ngIf="roles.get('name').errors.maxlength">
													Role Name must be less than 10 characters!
												</div>
												<div *ngIf="roles.get('name').errors.pattern">
													Role Name must be letters, numbers or dashes!
												</div>
											</div>
											<div *ngIf="error_messages.name" class="invalid-feedback">
												{{ error_messages.name }}
											</div>
										</div>

										</div>
									</div>

									<div class="form-group">
										<div class="row">

										<label class="col-md-3 pt-1" for="name">
											Permissions
											<span style="color:red;">*</span>
										</label>
										<div class="col-md-9">
											<ng-multiselect-dropdown
												formControlName="permissions"
												[placeholder]="'Select Permissions'"
												[settings]="dropdownSettings"
												[data]="permissions"
												(click)="elementTouched(roles.get('permissions'))"
											></ng-multiselect-dropdown>
											<div
												*ngIf="roles.get('permissions').errors && submitted"
												class="invalid-feedback"
											>
												<div *ngIf="roles.get('permissions').errors.required">
													Role is required!
												</div>
											</div>
										</div>
										</div>
									</div>

									<div class="form-actions center">
										<div class="col-md-3"></div>
										<div class="col-sm-9">
											<a [routerLink]="['/manpower/roles']" class="btn btn-raised btn-orange mr-1">
												<i class="ft-x"></i>
												Cancel
											</a>
											<button type="submit" class="btn btn-raised btn-purple">
												<i class="fa fa-check-square-o"></i>
												Save
											</button>
										</div>
									</div>
								</div>
							</form>
						</ng-container>

						<ng-template #norecord>
							<p>Loading Data...</p>
						</ng-template>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
