<!--The content below is only a placeholder and can be replaced.-->
<app-topbar (changeCampaign)="changeCampaign($event)"></app-topbar>
<section id="basic-form-layouts">
  <div class="row match-height">
    <div class="col-md-12 p-0">
      <ng-container *ngIf="buildForm; else norecord">
        <div class="card">
          <div class="card-body">
            <div class="px-3">
              <form class="form form-horizontal striped-rows" [formGroup]="formbuildersForm" (ngSubmit)="onSubmit($event)">

                <div class="form-body">
                  <h4 class="form-section">
                    <i class="ft-user"></i>
                    {{ title }}
                  </h4>
                </div>

                <div class="form-group">
                  <div class="row">
                    <label class="col-md-3 pt-1" for="name">
                      Formbuilder Name
                      <span style="color:red;">*</span>
                    </label>
                    <div class="col-md-9">
                      <input type="text" formControlName="name" maxlength="250" class="form-control" id="fb_name"
                        autocomplete="off" />
                      <div *ngIf="formbuildersForm.get('name').errors && formbuildersForm.get('name').touched"
                        class="invalid-feedback">
                        <div *ngIf="formbuildersForm.get('name').errors.required">
                          Formbuilder Name is required!
                        </div>
                        <div *ngIf="formbuildersForm.get('name').errors.minlength">
                          Please Enter atleast 3 Characters!
                        </div>
                        <div *ngIf="formbuildersForm.get('name').errors.maxlength">
                          Form Builder Name too long!
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group" id="checkbox-1">
                  <div formArrayName="fields">
                    <ng-container *ngIf="(campaignFormData) as resultData">
                      <div class="row display-flex">
                        <div class="col-12">
                          <p>Campaign Form Master
                            <span style="color:red;">*</span>
                          </p>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12"  *ngFor="let row of formbuildersForm.controls.fields['controls']; let i = index">
                            <div>
                            <div class="form-group">
                              <input type="checkbox" [formControlName]="i" 
                                  value="{{campaignFormData[i].name}}" id="{{campaignFormData[i].name}}">
                                  <label for="{{campaignFormData[i].name}}">{{campaignFormData[i].label}}</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>

                <div class="text-center p-3">
                  <h2>Build Form</h2>
                </div>
                <div id="stage1" class="build-wrap"></div>
                </form>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-template #norecord>
        <p>Data Loading...</p>
    </ng-template>
    </div>
  </div>
</section>
